* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: navy;
}

header {
    font-size: 1.8rem;
    color: darkorange;
    padding: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-wrapper {
    display: grid;
    grid-template-rows: 60px max-content;
    justify-items: center;
    gap: 25px;
    margin-bottom: 15px;
}

.start-game,
.play-again {
    background-color: darkorange;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 30px;
    border: 3px solid whitesmoke;
    border-radius: 8px;
}

.text-display {
    color: whitesmoke;
    font-size: 1.3rem;
    font-weight: bold;
    grid-row-start: 2;
}

.board-wrapper {
    background-color: darkorange;
    padding: 15px;
    margin-bottom: 40px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 130px);
    grid-template-rows: repeat(3, 130px);
    gap: 15px;
}

.cell {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.token-text {
    font-size: 125px;
    color: whitesmoke;
}

.bottom-wrapper {
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: bold;
}

.player-one-wrapper,
.player-two-wrapper {
    display: grid;
    grid-template-columns: max-content 270px 30px;
}

.player-one-wrapper {
    margin-bottom: 20px;
}

.player-name {
    margin-left: 20px;
}

.name-input {
    font-family:'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: bold;
    color: whitesmoke;
    background-color: black;
    padding: 0 15px;
    border: 2px solid whitesmoke;
    margin: 0 20px;
}

.edit-name-button,
.save-button {
    background-color: black;
    width: 30px;
    height: 30px;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    outline: none;
    align-self: center;
}